*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial black;
}
/* .container{
    width: 80%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
} */

#images, #images2, #images3{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
}
#images2{
    visibility: hidden;
}
#images3{
    visibility: hidden;
}
#prev{
    background: cyan;
    padding: 12px;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50px;
}
#nex{
    background: cyan;
    padding: 12px;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    font-size: 25px;
    position: absolute;
    right: 50px;
    top: 50%;
}