  
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #efefef;
	width: 100%;
	height: 100vh;
	font-family: monospace;
}
h1 {
	color: #424242;
	text-align: center;
	font-size: 2.1rem;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.container {
	width: 50%;
	background-color: #ffffff;
	margin: 0 auto;
	padding: 1rem;
	border-radius: 0.3rem;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
.input-group {
	padding: 1rem;
	width: 100%;
}

.input-group input {
	display: block;
	width: 100%;
	padding: 0.7rem 1rem;
	margin-top: 0.5rem;
	font-size: 1rem;
	color: #424242;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 0.2rem;
}
.input-group input:focus {
	border: 1px solid #228b22;
}
.btn-group {
	width: 100%;
	display: flex;
}
.input-group button {
	margin-right: 20px;
	width: 46%;
	padding: 1rem;
	text-align: center;
	color: #fff;
	font-family: arial;
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
	border: none;
	outline: none;
	border-radius: 0.2rem;
	cursor: pointer;
	box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.2);
	transition: all 0.1s;
}
.btn-success {
	background: #228b22;
}
.btn-reset {
	background: #ff0038;
}
.input-group button:hover {
	box-shadow: 0 3px 7px 3px rgba(0, 0, 0, 0.3);
	font-size: 1.3rem;
}

p {
	color: #222222;
	font-size: 1.4rem;
	text-align: center;
	line-height: 1.3;
}

@media only screen and (max-width: 700px) {
	.container {
		width: 90%;
	}
}